<div class="modal-toggle" (click)="toggleModal()"><img src="assets/icon_add_dark.svg"></div>
<div class="modal" [ngClass]="isModalActive ? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <h2 class="modal-card-title">New Workday 👔</h2>
      <h3>Work Topic</h3>
      <input class="form-item" type="text" placeholder="Implement request #42.." #workdayTopic>
      <h3>Workday (day of week)</h3>
      <input class="form-item" type="date" #workdayDay>
      <h3>Since</h3>
      <input class="form-item" type="time" placeholder="Topic" #workdayUntil>
      <h3>Until</h3>
      <input class="form-item" type="time" placeholder="Topic" #workdaySince>
      <div class="modal-footer has-text-right">
        <button class="button is-success" (click)="submitWorkdayForm()">Create</button>
        <button class="button is-error" (click)="toggleModal()">Cancel</button>
      </div>
    </section>
  </div>
</div>
