.box
  border-radius: 20px

.header-room
  font-size: 21px

.lecture-bg
  background-color: #FF9900
  box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)
  -webkit-box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)
  -moz-box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)

.exercise-bg
  background-color: #2B68E1
  box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)
  -webkit-box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)
  -moz-box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)

.header
  font-weight: 500
  color: white
  font-size: 30px

.subject
  font-weight: 500
  color: #BDBEC2
  font-size: 15px

.hours
  font-weight: 500
  font-size: 20px
  color: white
