<div class="modal-toggle" (click)="toggleModal()"><img src="assets/icon_add_dark.svg"></div>
<div class="modal" [ngClass]="isModalActive ? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <h2 class="modal-card-title">Schooldays</h2>
      <app-weekday-picker [autoInit]="true" (selectedDayChanged)="changeSelectedWeekday($event)"></app-weekday-picker>
      <div class="columns">
        <div class="column is-one-third">
          <h3 class="box-sub-header">Subjects this day</h3>
          <div class="day-hours">
            <div class="pagination-up is-hidden">
              <img src="assets/arrow_up_dark.svg">
            </div>
            <div class="day-hour" *ngFor="let subject of subjects">
              <div class="day-hour-time">{{subject.time_start |  slice:0:5 }} - {{subject.time_end|  slice:0:5 }}&nbsp;</div>
              <div class="day-hour-subject">{{ subject.short }}</div>
              <div class="icon-remove" (click)="removeSubject(subject.id)"><img src="assets/icon_trash.svg"></div>
            </div>
            <div class="pagination-down is-hidden">
              <img src="assets/arrow_up_dark.svg">
            </div>
          </div>
        </div>
        <div class="column">
          <h3 class="box-sub-header">New Subject</h3>
          <div class="flex-row">
            <div class="flex-row-item mr-4">
              <h3>Subject name</h3>
              <input type="text" #subjectName>
            </div>
            <div class="flex-row-item">
              <h3>Subject short</h3>
              <input type="text" class="short" #subjectShort>
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-row-item mr-4">
              <h3>Start</h3>
              <input type="time" #subjectStart>
            </div>
            <div class="flex-row-item">
              <h3>Duration</h3>
              <div class="duration-row">
                <label for="hours">Hours</label>
                <input type="number" min="0" max="24" value="0" id="hours" #subjectDurationHours>
                <label for="minutes">Minutes</label>
                <input type="number" min="0" max="59" value="0" id="minutes" #subjectDurationMinutes>
              </div>
            </div>
            <div class="flex-row-item">
              <h3>Room</h3>
              <input type="text" class="short" #subjectRoom>
            </div>
          </div>
          <h3>Type</h3>
          <div class="picker">
            <div class="picker-item" [ngClass]="selectedType === 'LR' ? 'selected' : ''"
                 (click)="changeSelectedType('LR')">Lecture</div>
            <div class="picker-item" [ngClass]="selectedType === 'EX' ? 'selected' : ''"
                 (click)="changeSelectedType('EX')">Exercise</div>
          </div>
          <h3>Repeat interval</h3>
          <div class="picker">
            <div class="picker-item" [ngClass]="selectedInterval === 'NL' ? 'selected' : ''"
                 (click)="changeSelectedInterval('WEEK')">Weekly</div>
            <div class="picker-item" [ngClass]="selectedInterval === 'ODD' ? 'selected' : ''"
                 (click)="changeSelectedInterval('ODD')">Only Odd</div>
            <div class="picker-item" [ngClass]="selectedInterval === 'EVEN' ? 'selected' : ''"
                 (click)="changeSelectedInterval('EVEN')">Only Even</div>
          </div>
        </div>
      </div>
      <div class="box-controls has-text-right">
        <button (click)="createSubject()" class="button is-success">Create</button>
        <button (click)="toggleModal()" class="button is-error">Close</button>
      </div>
    </section>
  </div>
</div>
