.wrapper
  height: 100vh

.box
  border-radius: 35px
  box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)
  -webkit-box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)
  -moz-box-shadow: 2px 1px 9px 0 rgba(0,0,0,0.15)
  background: #FFF

.form-input-label
  font-size: 28px
  color: #080B14

.form-input
  border: solid 2px #2B68E1
  border-radius: 15px
  font-size: 26px
  color: #2B68E1
  padding-left: calc(0.5rem - 1px)
  margin-bottom: 0.5em

.form-spacer
  margin-bottom: 2rem

.form-hint
  color: #2B68E1
  a:hover
    color: #080B14

.form-error
  color: red

.form-main-button
  width: 100%
  background: #2B68E1
  border: solid 1px #BABCBF
  font-size: 28px
  height: 3rem
  color: white
  border-radius: 25px
  cursor: pointer
