<div class="day-of-week-radio-picker form-item">
  <div class="weekday" (click)="changeSelectedDay(1)"
       [ngClass]="selectedDay == 1 ? 'weekday-selected' : ''">Po</div>
  <div class="weekday" (click)="changeSelectedDay(2)"
       [ngClass]="selectedDay == 2 ? 'weekday-selected' : ''">Út</div>
  <div class="weekday" (click)="changeSelectedDay(3)"
       [ngClass]="selectedDay == 3 ? 'weekday-selected' : ''">St</div>
  <div class="weekday" (click)="changeSelectedDay(4)"
       [ngClass]="selectedDay == 4 ? 'weekday-selected' : ''">Čt</div>
  <div class="weekday" (click)="changeSelectedDay(5)"
       [ngClass]="selectedDay == 5 ? 'weekday-selected' : ''">Pá</div>
  <div class="weekday" (click)="changeSelectedDay(6)"
       [ngClass]="selectedDay == 6 ? 'weekday-selected' : ''">So</div>
  <div class="weekday" (click)="changeSelectedDay(7)"
       [ngClass]="selectedDay == 7 ? 'weekday-selected' : ''">Ne</div>
</div>
