

.day-of-week-radio-picker
  display: flex

.weekday
  border: solid 1px #2B68E1
  border-radius: 5px
  padding: 3px 5px
  width: 2rem
  margin-right: 5px
  text-align: center
  cursor: pointer
  color: #2B68E1

.weekday-selected
  background-color: #2B68E1
  color: white

.form-item
  margin-bottom: 2rem
