.box
  border: solid 1px #2B68E1
  color: #FFFFFF
  padding: 1rem 1rem 1rem 1rem

  border-radius: 20px
  max-width: 80%
  .when
    padding-bottom: 0.25rem

  .when, .time
    font-size: 17px
    font-weight: 500

  .what
    font-size: 25px
    font-weight: 600
    margin-bottom: 1rem



.blue-bg
  background-color: #2B68E1
  border: none

.pink-bg
  background-color: #E12BA6
  border: none
