/* You can add global styles to this file, and also import other style files */

*
  font-family: 'Montserrat', sans-serif
html, body
  height: 100vh

\:host
  background: #FFF

body
  background-color: #FFF
  overflow: hidden

h1, h2, h3, p, div
  color: #0D121E
